.main {
  margin-top: 30px;
}

.li-count ol {
  list-style: none;
  counter-reset: li;
}

.li-count li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.topbtn {
  opacity: 0.3;
  transition: 0.5s;
}

.topbtn:hover {
  opacity: 1;
}
